html{
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}
body {
    overflow: hidden;
    min-height: 100%;
}

.fullBg {
    position: fixed;
    top: 0;
    left: 0;
}

.words {
    position: absolute;
    right: 35px;
    bottom: 35px;
    z-index: 110;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    text-align: right;
    color:white;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
}

.words h1 {

  font-size:7em;

}

.words h2 {
  font-size: 4em;
}

.words li {
    cursor: pointer;
}

.words a {
    background-color: rgba(255, 255, 255, 0.50);
}

#disqus_thread {
    width: 80%;
    margin: 2.5rem auto -4rem auto;
    border-top: #EBF2F6 1px solid;
}

.nav {
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 110;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.nav li {
    cursor: pointer;
}

.nav a {
    color:black;
    background-color: rgba(255, 255, 255, 0.50);
}
