  <ul class="nav nav-pills">
    <li><a href="#/stories">Leave a Story/Comment >></a></li>
  </ul>

    <img ng-show="true" bg-image class="fullBg {{main.currentAnimation}}" ng-repeat="slide in main.myMom"
         ng-if="main.isCurrentSlideIndex($index)"
         ng-src="http://farm{{slide.farm}}.staticflickr.com/{{slide.server}}/{{slide.id}}_{{slide.secret}}_b.jpg">
         <div class="words">
           <h1>Elizabeth Silva Webster</h1>
           <h2>1957 - 2015</h2>
           <p>We &hearts; you MOM!!</p>
         </div>
